# Configuration file

##########################################################################################################
# orelevelsetting
#--------------------------------------------------------------------------------------------------------#
# 设置Ore的级别，级别高的可以覆盖级别低的设定  范围1-10
##########################################################################################################

orelevelsetting {
    I:us_ingot=2
    I:us_mc_vanilla=1
    I:us_ore=2
    I:us_potion=2
}


##########################################################################################################
# orestackmaxsize
#--------------------------------------------------------------------------------------------------------#
# 设置矿典包含的物品的最大堆叠    #范围(range):1-32767   设置为0 则不进行修改
##########################################################################################################

orestackmaxsize {
    B:record=100
    I:us_ingot=2000
    I:us_mc_vanilla=10000
    I:us_ore=2000
    I:us_potion=500
}


